body {
  background-color: #f1f1f1;
  color: #696969;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #intro-text {
    font-size: 15px;
  }

  .skill-list {
    display: none;
  }

  .projects {
    display: flex;
    justify-content: center;
    margin-left: 20px;
  }

  .overlay,
  .text {
    display: none;
  }

  #headshot-img {
    height: 159px;
    width: 169px;
  }

  #intro-text {
    font-size: 13px;
  }

  #skill-list {
    display: none;
  }

  .overlay,
  .text {
    display: none;
  }
}
