body {
  background-color: #f1f1f1;
  color: #696969;
}
.overlay {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  height: 250px;
  width: 250px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #095db2;
  border-radius: 20%;
}

.test:hover .overlay {
  opacity: 0.95;
}

.text {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
}

.fab,
.fas {
  font-size: 3rem;
}
.fa-react {
  color: #61dbfb;
  margin-left: 15px;
}

.fa-html5 {
  color: #e34c26;
}

.fa-css3-alt {
  color: #1a73ba;
}

.fa-js-square {
  color: #f0db4f;
}

.fa-node {
  color: #3c873a;
  margin-right: 15px;
}

.fa-database {
  color: #696969;
}

.skills {
  display: inline-flex;
  justify-content: space-evenly;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #intro-text {
    font-size: 15px;
  }

  #skill-list {
    display: none;
  }

  .test {
    margin: 0;
    padding: 0;
  }

  .overlay,
  .text {
    display: none;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #intro-text {
    font-size: 15px;
  }

  #skill-list {
    display: none;
  }

  .test {
    margin: 0;
    padding: 0;
  }

  .overlay,
  .text {
    display: none;
  }
}
